<div class="app">
  <h2>DRIVER & CAR</h2>
  <p><img class="img-display" src='/public/images/{{image}}'></p>
  <p>Make: {{carMake}}</p>
  <p>Model: {{carModel}}</p>
  <p>Driver: {{driverName}}</p>
  <p>Country: {{country}}</p>

</div>