<div class="app">
    <p><img src='images/{{image}}>'</p>
    <p>Make: {{carMake}}</p>
    <p>Model: {{carModel}}</p>
    <p>Driver: {{driverName}}</p>
    <p>Country: {{country}}</p>

    <a class="nav" href="/">Home</a>
</div>