<div class="app">
    <p><img src='images/{{image}}>'</p>
    <p>Make: {{car make}}</p>
    <p>Model: {{car model}}</p>
    <p>Driver: {{driver name}}</p>
    <p>Country: {{country}}</p>

    <a class="nav" href="/">Home</a>
</div>